Rproj.user
.Rproj.user
.Rhistory

# C++
.o
.dll

# Documentation
inst/doc
/doc/
/Meta/
vignettes/*.R
vignettes/*.html
README_files/figure-html
README_files/libs

# revdep
/revdep/.cache.rds
revdep/

# Mac
.DS_Store
README.html
